# Estrapolazione dati delle città dai file html
- Con l'ausilio della libreria spacy procederemo ad estrapolare i dati delle città dal 2013 in poi.

In [1]:
# importo pacchetti utili

import spacy
import spacy_transformers
from spacy.language import Language
import pandas as pd
import pickle

In [2]:
# carico la lista coordinate city

infile = open("Data/coordinate_city_list.pickle",'rb')
coordinate_city_list = pickle.load(infile)
infile.close()

In [1]:
coordinate_city_list

In [64]:
# carico  la lista delle città con doppioni

infile = open("Data/problem_coord_city_list.pickle",'rb')
probl_cities = pickle.load(infile)
infile.close()

In [2]:
probl_cities

In [4]:
# carico pipeline spacy disattivando alcune funzioni per diminuire il tempo di esecuzione

nlp = spacy.load("en_core_web_sm", disable=['tensorizer','similarity','ner','tagger','textcat','sbd','merge_noun_chunks','merge_entities','lemmatizer'])

In [5]:
# aggiungo pipeline, voglio che si vada a capo quando si incontra \n 

@Language.component("set_custom_boundaries")
def set_custom_boundaries(doc):
    for token in doc[:-1]:
        if token.text == '\n  ':
            doc[token.i].is_sent_start = True
    return doc

nlp.add_pipe("set_custom_boundaries", before="parser")

In [21]:
# definizione funzione per estrapolare i dati dai file html
def get_data(nation):
    
    f=open('Data/GlobalTemp_city_dataset/{}.html'.format(nation))
    j=0
    a=f.read()
    clean_data_list=[]
    doc = nlp(a)
    control_list=[]
    l=[]
    reference_temp=[]
    reference_temp_2=[]
    clean_data_list_2=[]
    
    for token in doc:
        
        l.append(token.text)
  
    try:
        for n in range(len(l)):

            control = [l[n],l[n+1],l[n+2],l[n+3]]

            if control == ['Dec','\n','%','%']:
                
                reference_temp=l[n+4:n+28]

                break
                
    except IndexError:
        
            for n in range(len(l)):

                control = [l[n],l[n+1],l[n+2]]

                if control == ['Dec','\n','%']:
                    
                    reference_temp=l[n+3:n+27]

                    break
                    
                    
    while len(reference_temp_2)<12:
        
        if reference_temp[j] not in {' '*k for k in range(10)} :
            
            reference_temp_2.append(reference_temp[j])
            
        j+=1
            
                
    data_sent=list(doc.sents)[len(list(doc.sents))-110:]    
    data_list=[]
    
    
    for n,sent in enumerate(data_sent):
                
        try:
            
            if str(sent).split()[0] == '2013':

                data_sent=data_sent[n:]

                break
                
        except IndexError:
            
            continue
    
    for i,data in enumerate(data_sent):

        data_list.append(str(data).split())
        
        if len(data_list[i])>12:
        
            for item in data_list[i]:

                if item in ['</pre></body></html>','</pre></body></html', '>'] :

                    data_list[i].remove(item) 
                    
    for llist in data_list:
        
        if llist == ['>'] or llist==[]:
            
            data_list.remove(llist)
            
    for k,llist in enumerate(data_list):
        
        if len(llist)<12 and llist not in control_list :
            
            control_list.append(llist)
            control_list.append(data_list[k+1])            
            clean_data_list.append(llist+data_list[k+1])
            
        elif data_list[k] in clean_data_list:
            
            continue
            
        elif llist in control_list:
            
            continue
        
        else:
            
            clean_data_list.append(data_list[k])
    
            
    for h,llist in enumerate(clean_data_list):
        
        if len(llist)>12 and int(llist[0]) in range(1,13):
            
            correction=[]
            
            if llist[0] != '1':
                               
                llist.insert(0,clean_data_list[h-1][0])
                
            else:
                
                llist.insert(0,clean_data_list[h+1][0])
                
            clean_data_list_2.append(llist[0:12])
            clean_data_list_2.append(llist[12:24])
            
        else:
            
            clean_data_list_2.append(llist)
        
    for h,llist in enumerate(clean_data_list_2):

        if int(llist[0]) not in list(range(2013,2021)):

            if str(llist[11]) != 'NaN':

                if int(llist[11]) in list(range(2013,2021)):

                    v=llist[11]
                    llist.pop()

                    llist.insert(0,v)

            elif int(llist[0]) in list(range(1,13)) and int(llist[1]) in list(range(1,13)):

                if llist[1] != '1':

                    llist[0]=clean_data_list[h-1][0]

                else:

                    llist[0]=str(int(clean_data_list[h-1][0])+1)        
     
        
    return clean_data_list_2, list(map(float,reference_temp_2))

In [8]:
# definizione funzione per estrapolare la temperatura

def get_temp(data_list,reference_temp):
    
    temp_list=[]
    
    for data in data_list:
        
        temp_list.append( [data[0], data[1], float(data[2])+reference_temp[int(data[1])-1]] )
    
    return temp_list

In [33]:
# variante della funzione get_data da utilizzare sulle città con doppioni

def get_data_2(coord):
    
    f=open('Data/GlobalTemp_city_dataset_correction\{}{}{}.html'.format(coord[2],coord[0],coord[1]))
    j=0
    a=f.read()
    clean_data_list=[]
    doc = nlp(a)
    control_list=[]
    l=[]
    
    reference_temp=[]
    reference_temp_2=[]
    clean_data_list_2=[]
    
    for token in doc:
        
        l.append(token.text)
  
    try:
        for n in range(len(l)):

            control = [l[n],l[n+1],l[n+2],l[n+3]]

            if control == ['Dec','\n','%','%']:
                
                reference_temp=l[n+4:n+28]

                #for j in range(0,24,2):

                    #reference_temp.append(l[n+5+j])

                break
                
    except IndexError:
        
            for n in range(len(l)):

                control = [l[n],l[n+1],l[n+2]]

                if control == ['Dec','\n','%']:
                    
                    reference_temp=l[n+3:n+27]

                    #for j in range(0,24,2):

                     #   reference_temp.append(l[n+4+j])

                    break
                    
                    
    while len(reference_temp_2)<12:
        
        if reference_temp[j] not in {' '*k for k in range(10)} :
            
            reference_temp_2.append(reference_temp[j])
            
        j+=1
            
                
    data_sent=list(doc.sents)[len(list(doc.sents))-110:]    
    data_list=[]
    
    
    for n,sent in enumerate(data_sent):
                
        try:
            
            if str(sent).split()[0] == '2013':

                data_sent=data_sent[n:]

                break
                
        except IndexError:
            
            continue
    
    for i,data in enumerate(data_sent):

        data_list.append(str(data).split())
        
        if len(data_list[i])>12:
        
            for item in data_list[i]:

                if item in ['</pre></body></html>','</pre></body></html', '>'] :

                    data_list[i].remove(item) 
                    
    for llist in data_list:
        
        if llist == ['>'] or llist==[]:
            
            data_list.remove(llist)
            
    for k,llist in enumerate(data_list):
        
        if len(llist)<12 and llist not in control_list :
            
            control_list.append(llist)
            control_list.append(data_list[k+1])
            
            #data_list[k+1].insert(0,llist[0])
            
            clean_data_list.append(llist+data_list[k+1])
            
        elif data_list[k] in clean_data_list:
            
            continue
            
        elif llist in control_list:
            
            continue
        
        else:
            
            clean_data_list.append(data_list[k])
            
            
    
    
            
    for h,llist in enumerate(clean_data_list):
        
        if len(llist)>12 and int(llist[0]) in range(1,13):
            
            correction=[]
            
            if llist[0] != '1':
             
                llist.insert(0,clean_data_list[h-1][0])
                
            else:

                
                llist.insert(0,clean_data_list[h+1][0])
                
            clean_data_list_2.append(llist[0:12])
            clean_data_list_2.append(llist[12:24])
            
        else:
            
            clean_data_list_2.append(llist)
    
    
    for h,llist in enumerate(clean_data_list_2):

        if int(llist[0]) not in list(range(2013,2021)):

            if str(llist[11]) != 'NaN':

                if int(llist[11]) in list(range(2013,2021)):

                    v=llist[11]
                    llist.pop()

                    llist.insert(0,v)

            elif int(llist[0]) in list(range(1,13)) and int(llist[1]) in list(range(1,13)):

                if llist[1] != '1':

                    llist[0]=clean_data_list[h-1][0]

                else:

                    llist[0]=str(int(clean_data_list[h-1][0])+1)        
     
        
    return clean_data_list_2, list(map(float,reference_temp_2))

In [15]:
# costruisco dataframe aggiornato delle città problematiche

dt=[]
temp_list=[]
c_list=[]
c_errors_2=[]
dict_city={}
coordinate_control_set=set()
latitude=[]
longitude=[]

occurence_control_list=[]

for coordinate in probl_cities:
    
    if coordinate in occurence_control_list:
        
        continue
    
    
    elif (coordinate[0],coordinate[1]) in coordinate_control_set:
        
        for item in dict_city[(coordinate[0],coordinate[1])]:

            if int(item[1])<10:

                dt.append(item[0]+'-0'+item[1]+'-01')
                temp_list.append(item[2])
                c_list.append(coordinate[2])
                latitude.append(coordinate[0])
                longitude.append(coordinate[1])
                
            else:

                dt.append(item[0]+'-'+item[1]+'-01')
                temp_list.append(item[2])
                c_list.append(coordinate[2])
                latitude.append(coordinate[0])
                longitude.append(coordinate[1])
                
        occurence_control_list.append(coordinate)
                
                
    else:

        try:
            (a,b) = get_data_2(coordinate)
            
            temp_data=get_temp(a,b)

            for item in temp_data:

                if int(item[1])<10:

                    dt.append(item[0]+'-0'+item[1]+'-01')
                    temp_list.append(item[2])
                    c_list.append(coordinate[2])
                    latitude.append(coordinate[0])
                    longitude.append(coordinate[1])

                else:

                    dt.append(item[0]+'-'+item[1]+'-01')
                    temp_list.append(item[2])
                    c_list.append(coordinate[2])
                    latitude.append(coordinate[0])
                    longitude.append(coordinate[1])

            dict_city[(coordinate[0],coordinate[1])]=temp_data
            
            coordinate_control_set.add((coordinate[0],coordinate[1]))
            
            occurence_control_list.append(coordinate)
            
            print(len(coordinate_control_set), end=' - ')
            


        except:

            c_errors_2.append(coordinate)
            print(coordinate[2], end=' - ')
        
            
        
dataset_dict_c={'dt':dt,'AverageTemperature':temp_list,'City':c_list,'Latitude':latitude,'Longitude':longitude}

df_update_d=pd.DataFrame.from_dict(dataset_dict_c)

1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11 - 12 - 13 - 14 - 15 - 16 - 17 - 18 - 19 - 20 - 21 - 22 - 23 - 24 - 25 - 26 - 27 - 28 - 29 - 30 - 31 - 32 - 33 - 34 - 35 - 36 - 37 - 38 - 39 - 40 - 41 - 42 - 43 - 44 - 45 - 46 - 47 - 48 - 49 - 50 - 51 - 52 - 53 - 54 - 55 - 56 - 57 - 58 - 59 - 60 - 61 - 62 - 63 - 64 - 65 - 66 - 67 - 68 - 69 - 70 - 71 - 72 - 73 - 74 - 75 - 76 - 77 - 78 - 79 - 80 - 81 - 82 - 83 - 84 - 85 - 86 - 87 - 88 - 89 - 90 - 91 - 92 - 93 - 94 - 95 - 96 - 97 - 98 - 99 - 100 -

In [68]:
df_update_d

               dt  AverageTemperature        City Latitude Longitude
0      2013-01-01              14.757  Alexandria   31.35N    30.16E
1      2013-02-01              15.766  Alexandria   31.35N    30.16E
2      2013-03-01              18.234  Alexandria   31.35N    30.16E
3      2013-04-01              18.974  Alexandria   31.35N    30.16E
4      2013-05-01              23.425  Alexandria   31.35N    30.16E
...           ...                 ...         ...      ...       ...
11419  2020-08-01              29.478   Yingcheng   24.92N   113.50E
11420  2020-09-01              26.002   Yingcheng   24.92N   113.50E
11421  2020-10-01              21.259   Yingcheng   24.92N   113.50E
11422  2020-11-01              18.703   Yingcheng   24.92N   113.50E
11423  2020-12-01              10.618   Yingcheng   24.92N   113.50E

[11424 rows x 5 columns]

In [17]:
probl_city_set=set()

for city in probl_cities:
    
    probl_city_set.add(city[2])

In [3]:
probl_city_set

In [ ]:
# costruisco dataframe aggiornato

dt=[]
temp_list=[]
c_list=[]
c_errors=[]
latitude=[]
longitude=[]
dict_city={}
coordinate_control_set=set()

for coordinate in coordinate_city_list:
    
    if coordinate[2] in probl_city_set:
        
        continue
    
    
    elif (coordinate[0],coordinate[1]) in coordinate_control_set:
        
        for item in dict_city[(coordinate[0],coordinate[1])]:

            if int(item[1])<10:

                dt.append(item[0]+'-0'+item[1]+'-01')
                temp_list.append(item[2])
                c_list.append(coordinate[2])
                latitude.append(coordinate[0])
                longitude.append(coordinate[1])
                
                
            else:

                dt.append(item[0]+'-'+item[1]+'-01')
                temp_list.append(item[2])
                c_list.append(coordinate[2])
                latitude.append(coordinate[0])
                longitude.append(coordinate[1])
                
                
    else:

        try:
            (a,b) = get_data(coordinate[2])
            temp_data=get_temp(a,b)

            for item in temp_data:

                if int(item[1])<10:

                    dt.append(item[0]+'-0'+item[1]+'-01')
                    temp_list.append(item[2])
                    c_list.append(coordinate[2])
                    latitude.append(coordinate[0])
                    longitude.append(coordinate[1])

                else:

                    dt.append(item[0]+'-'+item[1]+'-01')
                    temp_list.append(item[2])
                    c_list.append(coordinate[2])
                    latitude.append(coordinate[0])
                    longitude.append(coordinate[1])

            dict_city[(coordinate[0],coordinate[1])]=temp_data
            
            coordinate_control_set.add((coordinate[0],coordinate[1]))
            
            print(len(coordinate_control_set), end=' - ')
            


        except:

            c_errors.append(coordinate)
        
            
        
dataset_dict={'dt':dt,'AverageTemperature':temp_list,'City':c_list,'Latitude':latitude,'Longitude':longitude}

df_update=pd.DataFrame.from_dict(dataset_dict)

In [23]:
c_errors

[['10.45S', '48.27W', 'Palmas']]

In [34]:
#devo ricavare i dati aggiornati di Palmas

(a,b)=get_data('Palmas')

ValueError: invalid literal for int() with base 10: '1.164'

In [38]:
# definisco variante get_data per risolvere il problema della città Palmas

def get_data_p(nation):
    
    f=open('Data/GlobalTemp_city_dataset/{}.html'.format(nation))
    j=0
    a=f.read()
    clean_data_list=[]
    doc = nlp(a)
    control_list=[]
    l=[]
    
    reference_temp=[]
    reference_temp_2=[]
    clean_data_list_2=[]
    
    for token in doc:
        
        l.append(token.text)
  
    try:
        for n in range(len(l)):

            control = [l[n],l[n+1],l[n+2],l[n+3]]

            if control == ['Dec','\n','%','%']:
                
                reference_temp=l[n+4:n+28]

                break
                
    except IndexError:
        
            for n in range(len(l)):

                control = [l[n],l[n+1],l[n+2]]

                if control == ['Dec','\n','%']:
                    
                    reference_temp=l[n+3:n+27]

                    break
                    
                    
    while len(reference_temp_2)<12:
        
        if reference_temp[j] not in {' '*k for k in range(10)} :
            
            reference_temp_2.append(reference_temp[j])
            
        j+=1
            
                
    data_sent=list(doc.sents)[len(list(doc.sents))-110:]    
    data_list=[]
    
    
    for n,sent in enumerate(data_sent):
                
        try:
            
            if str(sent).split()[0] == '2013':

                data_sent=data_sent[n:]

                break
                
        except IndexError:
            
            continue
    
    for i,data in enumerate(data_sent):

        data_list.append(str(data).split())
        
        if len(data_list[i])>12:
        
            for item in data_list[i]:

                if item in ['</pre></body></html>','</pre></body></html', '>'] :

                    data_list[i].remove(item) 
                    
    for llist in data_list:
        
        if llist == ['>'] or llist==[]:
            
            data_list.remove(llist)
            
    for k,llist in enumerate(data_list):
        
        if len(llist)<12 and llist not in control_list :
            
            control_list.append(llist)
            control_list.append(data_list[k+1])            
            clean_data_list.append(llist+data_list[k+1])
            
        elif data_list[k] in clean_data_list:
            
            continue
            
        elif llist in control_list:
            
            continue
        
        else:
            
            clean_data_list.append(data_list[k])
            
    try:
            
        for h,llist in enumerate(clean_data_list):

            if len(llist)>12 and int(llist[0]) in range(1,13):

                correction=[]

                if llist[0] != '1':

                    llist.insert(0,clean_data_list[h-1][0])

                else:

                    llist.insert(0,clean_data_list[h+1][0])

                clean_data_list_2.append(llist[0:12])
                clean_data_list_2.append(llist[12:24])

            else:

                clean_data_list_2.append(llist)


        for h,llist in enumerate(clean_data_list_2):

            if int(llist[0]) not in list(range(2013,2021)):

                if str(llist[11]) != 'NaN':

                    if int(llist[11]) in list(range(2013,2021)):

                        v=llist[11]
                        llist.pop()
                        llist.insert(0,v)

                elif int(llist[0]) in list(range(1,13)) and int(llist[1]) in list(range(1,13)):

                    if llist[1] != '1':

                        llist[0]=clean_data_list[h-1][0]

                    else:

                        llist[0]=str(int(clean_data_list[h-1][0])+1)
    except ValueError:
        
        clean_data_list_2=clean_data_list
     
        
    return clean_data_list_2, list(map(float,reference_temp_2))

In [39]:
(a,b)=get_data_p('Palmas')

In [41]:
# sistemazione relativa a Palmas

a_1=[]

for i,item in enumerate(a):

    if len(item)<12:
        
        b_1 = a[i]+a[i+1]
        
        c_1=b_1[0:12]
        c_2=b_1[12:24]
        
        a_1.append(c_1)
        a_1.append(c_2)
        
        
    elif len(item)>12:
        
        continue
    
    else:
        a_1.append(item)

In [44]:
temp_data_palmas = get_temp(a_1,b)

In [4]:
temp_data_palmas

In [71]:
c_list_p=[]
temp_list_p=[]
dt_p=[]
latitude_p=[]
longitude_p=[]
coordinate_palmas=['10.45S','48.27W']

    
for item in temp_data_palmas:

    if int(item[1])<10:

        dt_p.append(item[0]+'-0'+item[1]+'-01')
        temp_list_p.append(item[2])
        c_list_p.append('Palmas')
        latitude_p.append(coordinate_palmas[0])
        longitude_p.append(coordinate_palmas[1])

    else:

        dt_p.append(item[0]+'-'+item[1]+'-01')
        temp_list_p.append(item[2])
        c_list_p.append('Palmas')
        latitude_p.append(coordinate_palmas[0])
        longitude_p.append(coordinate_palmas[1])

    
dataset_dict_p={'dt':dt_p,'AverageTemperature':temp_list_p,'City':c_list_p, 'Latitude':latitude_p,'Longitude':longitude_p}

df_update_p=pd.DataFrame.from_dict(dataset_dict_p)

In [72]:
df_update_p

            dt  AverageTemperature    City Latitude Longitude
0   2013-01-01              26.456  Palmas   10.45S    48.27W
1   2013-02-01              26.951  Palmas   10.45S    48.27W
2   2013-03-01              26.900  Palmas   10.45S    48.27W
3   2013-04-01              27.036  Palmas   10.45S    48.27W
4   2013-05-01              26.917  Palmas   10.45S    48.27W
..         ...                 ...     ...      ...       ...
91  2020-08-01              27.905  Palmas   10.45S    48.27W
92  2020-09-01              29.548  Palmas   10.45S    48.27W
93  2020-10-01              29.012  Palmas   10.45S    48.27W
94  2020-11-01              27.360  Palmas   10.45S    48.27W
95  2020-12-01              26.764  Palmas   10.45S    48.27W

[96 rows x 5 columns]

In [55]:
df_update

                dt  AverageTemperature   City Latitude Longitude
0       2013-01-01              -0.390  Århus   57.05N    10.33E
1       2013-02-01              -0.403  Århus   57.05N    10.33E
2       2013-03-01              -0.468  Århus   57.05N    10.33E
3       2013-04-01               5.393  Århus   57.05N    10.33E
4       2013-05-01              12.744  Århus   57.05N    10.33E
...            ...                 ...    ...      ...       ...
325435  2020-08-01              27.425  Zunyi   28.13N   106.36E
325436  2020-09-01              21.166  Zunyi   28.13N   106.36E
325437  2020-10-01              15.578  Zunyi   28.13N   106.36E
325438  2020-11-01              13.323  Zunyi   28.13N   106.36E
325439  2020-12-01               5.572  Zunyi   28.13N   106.36E

[325440 rows x 5 columns]

In [73]:
frames=[df_update,df_update_d,df_update_p]

df_cities_updated=pd.concat(frames)
df_cities_updated

            dt  AverageTemperature    City Latitude Longitude
0   2013-01-01              -0.390   Århus   57.05N    10.33E
1   2013-02-01              -0.403   Århus   57.05N    10.33E
2   2013-03-01              -0.468   Århus   57.05N    10.33E
3   2013-04-01               5.393   Århus   57.05N    10.33E
4   2013-05-01              12.744   Århus   57.05N    10.33E
..         ...                 ...     ...      ...       ...
91  2020-08-01              27.905  Palmas   10.45S    48.27W
92  2020-09-01              29.548  Palmas   10.45S    48.27W
93  2020-10-01              29.012  Palmas   10.45S    48.27W
94  2020-11-01              27.360  Palmas   10.45S    48.27W
95  2020-12-01              26.764  Palmas   10.45S    48.27W

[336960 rows x 5 columns]

In [75]:
df_cities_updated.to_csv('Data/dataset_citta_aggiornamento_2020.csv')